<div>
  <div *ngIf="label">{{label}}</div>
  <ng-container [ngSwitch]="type">
    <div *ngSwitchCase="'text'">
      <input
        [type]="type"
        [placeholder]="placeholder"
        [(ngModel)]="value"
        [value]="value"
        [pKeyFilter]="(params && params.pKeyFilter) ? params.pKeyFilter : regExpMatchAll"
      >
    </div>
    <div *ngSwitchCase="'number'">
      <p-spinner
        size="40"
        [(ngModel)]="value"
        [placeholder]="placeholder"
        [max]="(params && params.maxVal) ? params.maxVal : undefined"
        [min]="(params && params.minVal) ? params.minVal : 0"
        [step]="(params && params.step) ? params.step : 1">
      </p-spinner>
    </div>
    <div *ngSwitchCase="'mask'">
      <p-inputMask
        [(ngModel)]="value"
        [mask]="params.mask"
        [placeholder]="placeholder"
      >
      </p-inputMask>
    </div>
    <div *ngSwitchCase="'textarea'">
      <textarea
        [cols]="params.cols"
        [rows]="params.rows"
        [placeholder]="placeholder"
        [(ngModel)]="value"
        [value]="value"
        autoResize="autoResize"></textarea>
    </div>
    <div *ngSwitchCase="'select'">
      <p-dropdown
        (onChange)="writeValue($event.value?.value)"
        [placeholder]="placeholder"
        optionLabel="name"
        [options]="options"
        [(ngModel)]="selectedItem"
        [filter]="params?.filter"
        [showClear]="params?.showClear"
      >
      </p-dropdown>
    </div>
    <div *ngSwitchCase="'multiSelect'">
      <p-multiSelect
        [(ngModel)]="selectedItems"
        [options]="options"
        [defaultLabel]="params?.defaultLabel"
        [filterPlaceHolder]="placeholder"
        (onChange)="writeValue($event.value)"
      >
      </p-multiSelect>
    </div>
    <div *ngSwitchCase="'password'">
      <input
        [type]="type"
        [placeholder]="placeholder"
        [(ngModel)]="value"
        [value]="value"
      >
    </div>
    <div *ngSwitchCase="'checkbox'">
      <p-checkbox
        binary="true"
      [(ngModel)]="value"
      >
      </p-checkbox>
    </div>
    <div *ngSwitchCase="'triCheckbox'">
      <p-triStateCheckbox
        [(ngModel)]="value"
      >
      </p-triStateCheckbox>
    </div>
    <div *ngSwitchCase="'inputSwitch'">
      <p-inputSwitch
        [(ngModel)]="value"

      >
      </p-inputSwitch>
    </div>
  </ng-container>
</div>
